src/WinForm/Connected Services/PDAOtherSearchService/OtherSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Execup_SelStoragePDA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:OtherSearchM" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OtherSearchM">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseM">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SqlWhere" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseM">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WarehouseName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WarehouseId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Execup_SelStoragePDAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Execup_SelStoragePDAResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Execup_SelStoragePDASoapIn">
    <wsdl:part name="parameters" element="tns:Execup_SelStoragePDA" />
  </wsdl:message>
  <wsdl:message name="Execup_SelStoragePDASoapOut">
    <wsdl:part name="parameters" element="tns:Execup_SelStoragePDAResponse" />
  </wsdl:message>
  <wsdl:portType name="OtherSearchServiceSoap">
    <wsdl:operation name="Execup_SelStoragePDA">
      <wsdl:input message="tns:Execup_SelStoragePDASoapIn" />
      <wsdl:output message="tns:Execup_SelStoragePDASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OtherSearchServiceSoap" type="tns:OtherSearchServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execup_SelStoragePDA">
      <soap:operation soapAction="http://tempuri.org/Execup_SelStoragePDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OtherSearchServiceSoap12" type="tns:OtherSearchServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execup_SelStoragePDA">
      <soap12:operation soapAction="http://tempuri.org/Execup_SelStoragePDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OtherSearchService">
    <wsdl:port name="OtherSearchServiceSoap" binding="tns:OtherSearchServiceSoap">
      <soap:address location="http://192.168.23.11:6014/OtherSearchService.asmx" />
    </wsdl:port>
    <wsdl:port name="OtherSearchServiceSoap12" binding="tns:OtherSearchServiceSoap12">
      <soap12:address location="http://192.168.23.11:6014/OtherSearchService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>